# This is a basic workflow to help you get started with Actions

name: build

# Controls when the workflow will run
on: [ pull_request, push ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest # run on Linux only

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: checkout repository
        uses: actions/checkout@v2
        
      - name: validate gradle wrapper
        uses: gradle/wrapper-validation-action@v1

      # Runs a single command using the runners shell
      - name: Set up Java 8
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: 8
          
      - name: build
        run: ./gradlew build

      - name: capture build artifacts
        uses: actions/upload-artifact@v2
        with:
          name: Artifacts
          path: build/libs/
